In [1]:
import pandas as pd
s={
    'car':['scorpio','BMW','audi'],
    'rate':[25000,34555,67000]
}
a=pd.DataFrame(s)
print(a)

       car   rate
0  scorpio  25000
1      BMW  34555
2     audi  67000

In [9]:
import pandas as pd

a = [1, 7, 2 ,4 ,5]

myvar = pd.Series(a,index=['a','b','c','d','e'])

print(myvar)

a    1
b    7
c    2
d    4
e    5
dtype: int64

In [10]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [13]:
print(df.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

In [4]:
import pandas as pd

df1 = pd.read_csv('C:\check.csv')
df1.replace(464,"463",inplace=True)
print(df1)

   student Id Course                  Session Ids       Lesson Ids  \
0           4    463  103,108,110,113,116,118,126  191,166,277,279
1           2    463  103,108,110,113,116,118,126  191,166,277,279
2           6    463  103,108,110,113,116,118,126  191,166,277,279
3           5    463  103,108,110,113,116,118,126  191,166,277,279
4           9    463  103,108,110,113,116,118,126  191,166,277,279
5           ,    463  103,108,110,113,116,118,126  191,166,277,279
6           6    463  103,108,110,113,116,118,126  191,166,277,279
7           8    463  103,108,110,113,116,118,126  191,166,277,279
8           6    463  103,108,110,113,116,118,126  191,166,277,279
9           7    463  103,108,110,113,116,118,126  191,166,277,279
10          6    463  103,108,110,113,116,118,126  191,166,277,279

   Lesson Display        Test Ids Good Score
0     l1,l2,l3,L4  8090,8122,8102   60,60,70
1     l1,l2,l3,L4  8090,8122,8102   60,60,70
2     l1,l2,l3,L4  8090,8122,8102   60,60,70
3     l1,l2,l3,L4  8090,8122,8102   60,60,70
4     l1,l2,l3,L4  8090,8122,8102   60,60,70
5     l1,l2,l3,L4  8090,8122,8102   60,60,70
6     l1,l2,l3,L4  8090,8122,8102   60,60,70
7     l1,l2,l3,L4  8090,8122,8102   60,60,70
8     l1,l2,l3,L4  8090,8122,8102   60,60,70
9     l1,l2,l3,L4  8090,8122,8102   60,60,70
10    l1,l2,l3,L4  8090,8122,8102   60,60,70

In [18]:
s=df1.head(2)
print(s)

  student Id  Course                  Session Ids       Lesson Ids  \
0          4     464  103,108,110,113,116,118,126  191,166,277,279
1          2     464  103,108,110,113,116,118,126  191,166,277,279

  Lesson Display        Test Ids Good Score
0    l1,l2,l3,L4  8090,8122,8102   60,60,70
1    l1,l2,l3,L4  8090,8122,8102   60,60,70

In [19]:
d=df1.info()
print(d)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student Id      11 non-null     object
 1   Course          11 non-null     int64
 2   Session Ids     11 non-null     object
 3   Lesson Ids      11 non-null     object
 4   Lesson Display  11 non-null     object
 5   Test Ids        11 non-null     object
 6   Good Score      11 non-null     object
dtypes: int64(1), object(6)
memory usage: 744.0+ bytes
None

In [ ]:
#remove empty cells-df.dropna()- returns new dataframe

#df.dropna(inplace=True)-alters original dataframe

#df.fillna(130,inplace=True) - fills empty cells with 130

#df["Calories"].fillna(130, inplace = True)- replaces null values with 130 for specifed column names

#df['Date'] = pd.to_datetime(df['Date'])- convert date column to dateformat

#df.dropna(subset=['Date'], inplace = True)- remove row from date column if it is null

#df.loc[7,'Duration'] = 45 -replacing 

#df.duplicated()

#df.drop_duplicates()

#df.drop('C1',axis=1)-removing column

#df.deop('R1',axis=0)- removing rows

#df.reset_index()- creates indexex in the column named index

#df.set_index('c3',inplace=True)-makes column 3 as index

#df.dropna(axis=1,how=all)-remove all column if all the values in that column is null

#df.replace(0.0,"there was a value here")

#df['column'].value_counts()- specifies unique names with count of occurence

#df['column'].unique()  - unique values

#df['column'].nunique() - count of unique values

#df.groupby('Team')

#df[columnName].apply(customFunction)